/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Play');

.container{
    max-width: 500px;
    margin: 100px auto;
    font-family: 'Play' ,Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.content{
    position: relative;
}
.header{
    width: 100%;
}
.img{
    width: 20%;
    float: left;
}
.clearfix {
    overflow: auto;
  }
.meta{
    width: 75%;
    float: right;
}

ul{
    list-style: none;
}
img{
    display: block;
    margin-right: 20px;
    width:100%;
    cursor: pointer;

}
.price{
    position: absolute;
    right: 0;
    top:50px;
}
a{
    text-decoration: none;
    color: rgb(25, 96, 124);
    font-style: italic;
    font-size: 1em;
}